main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tim {
    padding: 20px;
    font-size: 50px;
    color: coral;
    text-decoration: underline;
}

.fact {
    padding: 30px;
    font-size: 25px;
    color: lightcoral;
}